BODY {
	
}
TD {
	FONT-SIZE: 12px
}
.STYLE2 {
	COLOR: #5b6465
}
.STYLE4 {
	COLOR: #666666
}
.dw{ size:12px; color:#FFFFFF; FONT-WEIGHT: bold}

.STYLE11 {
	COLOR: #317a19; FONT-WEIGHT: bold
}
IMG {
	BORDER-BOTTOM: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-TOP: black 0px solid; BORDER-RIGHT: black 0px solid
}
a:link{
	color:#003366;
	text-decoration: none;
}    
a:visited{	color:#003366;
	text-decoration: none;}   
a:hover{
	color:#003399;
	text-decoration: underline;
}      

/********shanghai120*****/

.toppicbg{background:url(../images/pic_55.jpg);height:200px;width:1000px;}
.fdsh{display:block;}
.fdnj{display:none;}



/********nanjing120*****/
/*
.toppicbg{background:url(../images/nanjing_01.jpg);height:200px;width:1000px;}
.fdnj{display:block;}
.fdsh{display:none;}
.yqnj{display:none;}
*/
/********120*****/




.test:link{color:#003399;text-decoration: none;}
.test:visited{color:#003399;text-decoration: none;}
.test:hover{color:#990000;text-decoration: underline;}


.fenzhan:link{
	color:#333300;
	text-decoration: none;
}
.fenzhan:visited{color:#333300}
.fenzhan:hover{
	color:#663300;
	text-decoration: underline;
	font-weight: bold;
}
.dang:link{
	color:#003366;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
		line-height:20px;
}
.dang:visited{
	color:#003366;
	font-size: 14px;
	font-weight: bold; 
	line-height:20px;
}
.dang:hover{
	color:#663300;
	text-decoration: underline;
	font-weight: bold;
		line-height:20px;
}
.dang1:link{
	color:#003366;
	text-decoration: none;
	line-height:20px;
}
.dang1:visited{
	color:#333300;
    line-height:20px;
}
.dang1:hover{
	color:#663300;
	text-decoration: underline;
	line-height:20px;
}
.yuefen:link{
	color:#CC0000;
	text-decoration: none;
}
.yuefen:visited{color:#CC0000}
.yuefen:hover{
	color:#FF0000;
	text-decoration: underline;
	font-weight: bold;
}
.dangwubg{background:url(../images/picdang_25.jpg) bottom repeat-x;}
.contentti{display:inline-block;width:150px; height:25px; line-height:25px;text-overflow:ellipsis;overflow:hidden; white-space:nowrap; font-family:'ו'; font-size:12px}
.contentbiaoti{display:inline-block;width:170px; height:25px; line-height:25px;text-overflow:ellipsis;overflow:hidden; white-space:nowrap; font-family:'ו'; font-size:12px}