#header {
	background: #005021;
}

.m-drop>.m-child {
	background: #003300 none repeat scroll 0 0;
	filter:alpha(opacity=90); 
    -moz-opacity:0.9; 
    opacity:0.9;
	border: 1px solid #003300;
}
.m-drop>.m-child>.item {
	border: solid 1px #003300;
}

.hover-drop-link {
	background: #003300;
		filter:alpha(opacity=90); 
    -moz-opacity:0.9; 
    opacity:0.9;
}

#min-toggle-btn:hover {
	background-color: #003300;
    filter:alpha(opacity=90); 
    -moz-opacity:0.9; 
    opacity:0.9;
}

#menu a {
	color: #b9f3bd;
}
.menu-min .li-a {
	background: #0251a0;
}
.li-a:hover {
	background: #119347;
	color: #fff ! important;
}
.lighbg{ background: #119347 ! important; font-weight: 600 ! important; }
.li-a > span:hover{
	color: #fff ! important;
}


.li-a {
	border-bottom: solid 1px #0c3c20;
}

.menu-min .li-a {
	height: 28px;
	background: #005021;
}

.rm li:first-child {
	border-top: solid 1px #0c3c20;
}


.hover-on>li {
	border-left: solid 1px #0c3c20;
	border-right: solid 1px #0c3c20;
}

.rm li:first-child {
    border-top: 1px solid #0c3c20;
}
 
.menu-min .li-hover {
    border-right: 1px solid #0c3c20;
}

.menu-min .li-a:hover:hover {
	background: #119347 ! important;
	color: #fff ! important;
}

.hover-on>li:first-child {
	border-left: solid 1px #0c3c20;
}

.dropicon {
	background-image: url(../js/jquery.dropmenu/img/layout_arrows_green.png);
}



.lefttd{background: #005021  ! important  ;
}


#content_form .title{
	background:#007f35! important; 

}

.warning{
	color:#002b99;
}

#current_position span{
	color:#009900! important;
}


/** ·­Ò³Í¼±êÑùÊ½**/
.page span{ color:#006699! important;
}
.pagebtn{
    background:#006633! important; 	
}
.pagebtn:hover{ background:#007d3e! important;
                            color:#fff! important;
}