

body{font-size: 12px;background-color: #fff;}
a{ color:#000000; text-decoration:none;}
p{ line-height:26px; margin:0px; padding:0px;}
ul li{ list-style:none; margin:0px; padding:0px;}
input[type="text"]{ background-color:#f7f8f9;border:1px #b8def5 solid; height:27px; line-height:27px;}
input{ vertical-align:middle;border:1px #35aef9 solid;}
textarea{border:1px solid #35aef9;}

/*top.html start*/
#top {background: url(../images/topbj.gif) repeat-x;}
.toptext {text-align: right; white-space:nowrap; padding-right:10px;}
#topline {background: url(../images/topline.gif) repeat-x;height: 5px;}
#gg{ overflow:hidden;}
/*top.html end*/


#mainbox{ background:#fff;}



/*去除超链接、span、button、input被选中时出现的虚线框*/

.HideFocus { 
        hide-focus: expression(this.hideFocus=true);  /* for ie 5+ */ 
        outline: none;  /* for firefox 1.5 + */ 
}

	/*list page*/
.requiredItem{color:#ff0000;}
#searchbox{ background:#fff; white-space:nowrap; }
#searchbox  .searchtext{ border:1px solid #35aef9; width:95%;  max-width:500px;height:20px; }
#searchbox  .searchtime{ border:1px solid #35aef9; width:40%; white-space:nowrap;  min-width:100px; height:20px; }
#searchbox select{ width:95%; max-width:500px; min-width:100px; border:1px solid #35aef9; background:#DFF9FD;  line-height:25px; height:25px; vertical-align:middle;}
#searchbox select option{ line-height:25px; height:25px;}
#searchbox td{ line-height:36px; background:#fff; padding-left:10px; white-space:nowrap;}
#list{background-color: #35aef9;}
#list a:hover{ text-decoration:underline;}
#list  .rw {color:#1D55BC;}
#list  .fpjs {color:#1D55BC;}
.listtitle{line-height:24px;border:1px solid #b5d6e6;margin-bottom:3px;background-color: #7fcbfa;}
.listtitle a{color:#000;}
.listtitle img{ vertical-align:middle;}
#list .bzlist{ margin:0px; padding:0px;}
#list .bzlist li{ line-height:22px; text-align:center; border-top:1px solid #005aff;}
<!--#list .bzlist li:first-child{ border-top:none;}-->

<!C-[if IE 6]>
#list .bzlist li{font-size: expression(this.previousSibling==null?'15px':'18px');}
<![endif]-->

<!--#list  tr:first-child td{ white-space:nowrap;}-->
#list  tr  td{ white-space:nowrap;}
	/*list page*/


	/*edi tpage*/
#tbbox{ background:#35aef9;}
#tbbox td{ line-height:36px; background:#FFFFFF; padding:0px 10px; white-space:nowrap;}
#tbbox .ipttext{border:1px solid #35aef9; width:30%; max-width:300px;min-width:100px; height:20px;}
#tbbox select{ width:30%; max-width:300px;min-width:100px;  border:1px solid #35aef9; background:#DFF9FD;  line-height:25px; height:25px;}
#tbbox select option{ line-height:25px; height:25px;}
#tbbox .iparea{border:1px solid #35aef9;width:40%;max-width:400px;min-width:250px;height:60px; margin:10px 0px;}
body #mainbox .tjyg  .ipttext{ width:80%;line-height:20px;}
body #mainbox .tjyg select{ width:80%;line-height:20px;}
	/*edi tpage*/


	/*view page*/
#viewbox{ background:#7fcbfa;}
#viewbox td{ padding-left:10px; line-height:36px; background:#fff; white-space:nowrap;}
	/*view page*/

	/*tj page*/
#tjbox{ background:#000; }
#tjbox td{ line-height:24px; text-align:center; background:#fff; white-space:nowrap;}
#tjbox input{ width:80%; min-width:80px;} 
#tjbox select{ width:80%; min-width:80px;} 
	/*tj page*/
	
	/*jsqx page*/
	.jslist {list-style-type: none;}
	.jslist li{ width:200px; float:left; display:block; }
	/*jsqx page*/
 
/*paiban page*/
.pblist,#pblist,#pblist1{ background:#0099FF}
.pblist td,#pblist td,#pblist1 td{ line-height:26px; background:#fff; white-space:nowrap;}
.pblist a,#pblist a,#pblist1 a{  text-decoration:underline; font-weight:bold;}
.ystext{ color:#0066CC;}
.djytext{ color:#6600CC;}
.sjtext{ color:#993300;}
.jjctext{ color:#FF0000;}
.ddytext{ color:#000a90;}
.xzbztext{ color:#003366;}
.pblist .ystet, #pblist .ystext { color:#0066CC;}
.pblist .djytext, #pblist .djytext { color:#6600CC;}
.pblist .sjtext , #pblist .sjtext { color:#993300;}
.pblist .jjctext,#pblist .jjctext { color:#FF0000;}
.pblist .ddytext,#pblist .ddytext { color:#000a90;}
.pblist .xzbztext,#pblist .xzbztext { color:#000a90; }



#fzk{position: absolute; background:#fff; border:1px solid ; }
#fzk td{ line-height:26px;}
#fzk select{ width:80px; border:1px solid #003399; white-space:nowrap;}

.pblist { margin-bottom:10px;}
.pblist  tr:first-child td{ background:#bfe6ff; font-weight:bold;}

.pblist .tdbz{ background:#c6f3ff;}
.out{ 
border-top:42px #bfe6ff solid;/*上边框宽度等于表格第一行行高*/ 
width:0px;/*让容器宽度为0*/ 
height:0px;/*让容器高度为0*/ 
border-left:180px #c6f3ff solid;/*左边框宽度等于表格第一行第一格宽度*/ 
position:relative;/*让里面的两个子容器绝对定位*/ 
} 
.pblist b{font-style:normal;display:block;position:absolute;top:-40px;left:-50px;width:35px;} 
.pblist em{font-style:normal;display:block;position:absolute;top:-28px;left:-164px;width:55x;} 
/*paiban page*/
	
	
	/*table style*/
	.tbtitle{ font-size:26px; font-weight:bold;}
	#nlist{ background:#000}
	#nlist td{ line-height:22px; background:#fff;}
	#slist{ background:#98d4f9;}
	#slist td{ line-height:20px; background:#fff;}
	body .ipthx,body #slist .ipthx{   line-height:20px; height:14px; width:170px;} 
	body .ipthxd,body #slist .ipthxd{   line-height:20px; height:14px; width:120px;} 
	body .ipthbb,body #slist .ipthbb{   line-height:20px; height:14px; width:170px;} 
	body .iptsj,body #slist .iptsj{   line-height:20px; height:14px; width:45px;} 
	body .iptcx,body #slist .iptcx{  line-height:20px; height:14px; } 
	.textareaxd{width:450px; height:25px; border:1px solid  #CCCCCC;};
	.textareabb{width:400px; height:25px; border:1px solid  #CCCCCC;};
	 .tixd{font-size:14px; font-weight:bold;}
	/*table style*/
/*right page end*/


/*left.html start*/


.left_title{ background:url(../images/lefttitlebj.gif) repeat-x; height:24px; line-height:24px; text-align:center; color:#0d9cf5; font-weight:bold; width:100%;}

.title_line{ height:2px; background:url(../images/line1.gif) repeat-x; margin:0px; padding:0px; font-size:0px;width:100%;}

.tree{ margin-left:10px; margin-top:10px;}
.dtree{ padding-bottom:10px;}
/*left.html end*/

.listselectstyle{ text-decoration:underline; font-weight:bold; color:#000;}